App_WebReferences/ServiceReference1/CommunityAssistServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62186/CommunityAssistServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Assignment7" />
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Assignment7" minOccurs="0" name="GetServicesResult" nillable="true" type="q1:ArrayOfComService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>